<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= folder.name %>
    </title>
</head>

<body>
    <h1>
        <%= folder.name %>
    </h1>

    <% if (folder.files && folder.files.length> 0) { %>
        <h2>Files</h2>
        <ul>
            <% folder.files.forEach(file=> { %>
                <li>
                    <a href="<%= file.url %>">
                        <%= file.name %>
                    </a>
                </li>
                <% }) %>
        </ul>
        <% } else { %>
            <h2>
                This folder is empty.
                <a href="<%= '/upload-file' %>">Upload File</a>

            </h2>
            <% } %>
</body>

</html>