<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <% if (user) { %>
        <div class="main-header">
            <h1>Welcome <%= user.email %>
            </h1>
            <a href="/logout">Logout</a>
        </div>

        <% } else { %>
            <h1>
                Welcome, please
                <a href="/login">Login</a> or
                <a href="/sign-up">Sign up</a>
                to get started
            </h1>
            <% } %>
                <div class="file-header">
                    <h2>Your Files</h2> <a href="/upload-file">Upload File</a><a href="/new-folder">Create Folder</a>
                    <% if (user) { %>
                </div>

                <div class="file-list">
                    <ul>
                        <% files.forEach(file=> { %>
                            <li>
                                <a href="<%= file.url %>">
                                    <%= file.name %>
                                </a>
                            </li>
                            <% }) %>

                                <% folders.forEach(folder=> { %>
                                    <li>
                                        <a href="/folder/<%= folder.id %>">
                                            <%= folder.name %>
                                        </a>

                                    </li>
                                    <% }) %>
                    </ul>
                    </ul>
                </div>
                <% } %>

</body>

</html>